@using Adrack.Service.Helpers
@using Adrack.Core.Domain.Lead
@using System.Linq;

@{
    Layout = null;

    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());

    var currentUser = this.AppContext.AppUser;
    Dictionary<int, List<CampaignTemplate>> pages = ViewBag.Pages;
}

<!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
<link href="~/Content/core/library/icomoon.css" rel="stylesheet" type="text/css">
<link href="~/Content/core/library/bootstrap.css" rel="stylesheet" type="text/css">
<link href="~/Content/core/Base.css" rel="stylesheet" type="text/css">
<link href="~/Content/core/Base.Component.css" rel="stylesheet" type="text/css">
<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script type="text/javascript" src="~/Scripts/plugins/pace.min.js"></script>
<script type="text/javascript" src="~/Scripts/core/library/jquery.min.js"></script>
<script type="text/javascript" src="/sassets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="~/ContentManagement/Scripts/plugins/steps.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/select2.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/uniform.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jasny.bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/validate.min.js"></script>

<script type="text/javascript" src="assets/js/core/app.js"></script>
<script type="text/javascript" src="assets/js/pages/wizard_steps.js"></script>

<script>
    $(function () {
        $('#get-embed-code').on('click', function () {
            $('#modal_default').modal('show');
        });

        $(".steps-basic").steps({
            headerTag: "h6",
            bodyTag: "fieldset",
            transitionEffect: "fade",
            titleTemplate: '<span class="number">#index#</span> #title#',
            labels: {
                finish: 'Submit'
            },
            onFinished: function (event, currentIndex) {
                alert("Form submitted.");
            }
        });
    });
</script>

<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Basic setup -->
                <div style="margin: 3% 7%" class="panel panel-white">
                    <div class="panel-heading">
                        <h6 class="panel-title">General Form</h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <!--<li><a data-action="reload"></a></li>
                                <!--<li><a data-action="close"></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <form class="steps-basic" action="#">
                        @foreach (int page in pages.Keys)
                        {
                            var items = pages[page];
                            int columns = 1;
                            int maxcols = 1;
                            Dictionary<int, List<CampaignTemplate>> columnItems = new Dictionary<int, List<CampaignTemplate>>();
                            foreach(var item in items)
                            {
                                int colNumber = (item.ColumnNumber.HasValue && item.ColumnNumber.Value > 0 ? item.ColumnNumber.Value : 1);

                                if (!columnItems.ContainsKey(colNumber))
                                {
                                    columnItems.Add(colNumber, new List<CampaignTemplate>());
                                }

                                columnItems[colNumber].Add(item);

                                if (colNumber > maxcols)
                                {
                                    maxcols = colNumber;
                                }
                            }
                            int maxrows = (int)Math.Floor(((double)items.Count / (double)maxcols) + 1);
                            int bscol = 12 / maxcols;

                            <h6>Page @page</h6>
                            <fieldset>
                                @for(int r = 1; r <= maxrows; r++)
                                {
                                    <div class="row">
                                        @for (int c = 1; c <= maxcols; c++)
                                        {
                                            if (r <= columnItems[c].Count)
                                            {
                                                var item = columnItems[c][r - 1];
                                                string required = item.Required ? "required='required'" : "";

                                                <div class="col-sm-@bscol">
                                                    <div class="form-group">
                                                        <label for='@Html.Raw(item.SectionName + "-" + item.TemplateField)'>@item.Label<!--<span class="text-danger"> *</span>--></label>
                                                        <input class="form-control" id='@Html.Raw(item.SectionName + "-" + item.TemplateField)' name='@Html.Raw(item.SectionName + "-" + item.TemplateField)' type='text' value='' @required />
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-@bscol"></div>
                                            }
                                        }
                                    </div>
                                }
                            </fieldset>
                        }
                    </form>
                </div>
            </div>
            <!-- /basic setup -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->
<!-- /page container -->