@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";

    Html.AppendPageCustom(PageLayoutPosition.ContainerAttribute, "login-container");

    Html.AddPageTitle(T("PageTitle.ForgotPassword").Text);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-warning text-warning">
                <i class="icon-spinner11"></i>
            </div>
            <h5 class="content-group">Change Password</h5>
        </div>

        <div class="form-group has-feedback">
            @Html.Label("Old password")<br />
            @Html.TextBoxFor(x => x.OldPassword, new {@class = "form-control", tabindex = 1, placeholder = "Current Password", type = "password"})
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback">
            @Html.Label("New password")<br />
            @Html.TextBoxFor(x => x.Password, new {@class = "form-control", tabindex = 1, placeholder = "Password", type = "password"})
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
            <br />
            @{ Html.RenderAction("PasswordStrength", "Membership", new {id = "Password"}); }
        </div>
        <div class="form-group has-feedback">
            @Html.LabelFor(x => x.ConfirmPassword)
            @Html.TextBoxFor(x => x.ConfirmPassword, new {@class = "form-control", tabindex = 1, placeholder = "Confirm password", type = "password"})
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>

        <button type="submit" class="btn bg-blue btn-block" onclick="return validatePassword()">Submit <i class="icon-arrow-right14 position-right"></i></button>

        <br />
        <div style="color: red; text-align: center">
            @Html.ValidationSummary(true)
        </div>
    </div>
}