@model Adrack.Web.ContentManagement.Models.Support.SupportTicketsModel

@using Adrack.Service.Security
@using Adrack.Core.Infrastructure
@using Adrack.Service.Helpers

@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";
    Html.AddPageTitle("Support center");
    Html.AddPageMetaDescription("Open/View Tickets");

    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());
    var permissionService = AppEngineContext.Current.Resolve<IPermissionService>();
    var currentUser = this.AppContext.AppUser;
}

<script type="text/javascript" src="~/Scripts/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/daterangepicker.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/anytime.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/pickadate/picker.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/pickadate/picker.date.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/pickadate/picker.time.js"></script>

<script type="text/javascript" src="~/Scripts/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="~/Scripts/pages/uploader_bootstrap.js"></script>


<script type="text/javascript" src="~/Scripts/core/library/jquery_ui/interactions.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/Scripts/pages/form_select2.js"></script>

@if (ViewBag.SelectedBuyerId != null)
{
    @RenderPage("../Shared/BuyerSubMenu.cshtml")
}
else if (ViewBag.SelectedAffiliateId != null)
{
    @RenderPage("../Shared/AffiliateSubMenu.cshtml")
}

<br>

<div class="SupportMessageContainer">
    @if (permissionService.Authorize(PermissionProvider.SupportAddNewTicket))
    {
        <div>
            <button id="AddTicketBtn" type="button" data-target="#modal_form_add_ticket" data-toggle="modal" class="btn btn-success btn-sm">
                <i class="icon-add-to-list position-left"></i> Add New Ticket
            </button>
        </div>
    }
    <br>
    <div class="status-filter">
        <div data-toggle="buttons" class="btn-group support-filter-tabs">
            <label class="btn btn-default active">
                <input type="radio" data-id="0" name="statusradio"> Open Tickets
            </label>
            <label class="btn btn-default">
                <input type="radio" data-id="1" name="statusradio"> Closed Tickets
            </label>

        </div>
    </div>


    <div id="GridViewSupportTickets"></div>
    <script>
        GenerateGridTable("GridViewSupportTickets", "/Management/Support/GetSupportTickets", "ID, Subject, Reporter, Assigned To, Priority, Status, Date / Time");
    </script>
</div>

<div id="modal_form_add_ticket" class="modal fade">
    <div class="modal-dialog modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Add New Ticket</h5>
            </div>

            <div class="modal-body">
                <div class="row clearfix mb-20">
                    <div class="col-sm-10">
                        <label>Subject:</label>
                        <input id="TicketSubject" class="form-control" type="text" placeholder="Subject" required="required" name="numbers" aria-required="true" aria-invalid="true">
                    </div>
                    <div class="col-sm-2">
                        <label>Priority:</label>
                        <select id="TicketPriority" class="form-control" name="select">
                            <option value="3">High</option>
                            <option value="2" selected="selected">Normal</option>
                            <option value="1">Low</option>
                        </select>
                    </div>
                </div>
                <div class="row clearfix">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Assign To:</label>
                            <select id="AssignTo" class="select">
                                @if (ViewBag.ManagerUser != null)
                                {
                                    <option value="@ViewBag.ManagerUser.Id">@ViewBag.ManagerUserName (@ViewBag.ManagerUser.Email)</option>
                                }
                                else
                                {
                                    foreach (KeyValuePair<string, long> userList in Model.UsersNameList)
                                    {
                                        <option value="@userList.Value">@userList.Key</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    @if (ViewBag.ManagerUser == null)
                    {
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>CC To:</label>
                                <select id="AssignToCC" multiple="multiple" class="select">
                                    @foreach (KeyValuePair<string, long> userList in Model.UsersNameList)
                                    {
                                        <option value="@userList.Value">@userList.Key</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Message:</label>
                            <textarea id="TicketMessage" class="form-control" placeholder="Type Message" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <span class="help-block">Attach a file (Max: 2MB.)</span>
                            <input type="file" id="attach-file" class="file-input" data-show-caption="false" data-show-upload="false" data-browse-class="btn btn-primary btn-xs" data-remove-class="btn btn-default btn-xs">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button id="Btn_AddPayment" type="button" data-target="#modal_form_add_payment" data-toggle="modal" class="btn btn-success btn-sm">
                    <i class="icon-add-to-list position-left"></i> Add Ticket
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/pages-js/SupportTickets.js"></script>
<script>
    SupportTicketsParams.init('@ViewBag.SelectedBuyerId');
</script>